:root,
* {
  font-size: 16px;
}

body,
textarea {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.time {
  font-size: 14px;
  color: #333;
}

main {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.select-room button {
  width: 100%;
}

.add-asset {
  display: flex;
  flex-direction: column;
}

.add-asset input,
.add-asset textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.asset-info,
.add-asset-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.asset-info p,
.add-asset-actions button {
  font-size: 16px;
  /* color: #333; */
}

.confirm-button {
  background-color: #007bff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #0062cc;
}

/* New rule to center buttons within .add-asset-actions */
.add-asset-actions button {
  flex: 1; /* Make buttons flexible and share available space */
  margin: 0 5px; /* Add a small margin between buttons */
}
.suggestion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Limit the height of the list */
  overflow-y: auto; /* Enable scrolling if suggestions overflow */
}

.suggestion-list li {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestion-list li:hover {
  background-color: #eee;
}
